.motor-tab .w3-button{
    margin-top: 4px;
    width: 200px;
    display: block;
}

.motor-tab input[type=range]{
    display: block;
    width: 200px;
}

.motor-tab select{
    display: block;
    width: 200px;
}

.motor-tab .w3-check{
    display: inline;
}